#city-search {
  margin: 0 25px;
  display: block;
  height: 40px;
  width: 290px;
  border-radius: 13px;
  border-width: thin;
  border-color: lightgrey;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#city-input,
#location-button {
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  border-width: thin;
  background-color: #0881a3;
  width: 120px;
  border-color: rgba(50, 50, 93, 0.25);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.current-temp {
  border-radius: 24px;
  height: 351px;
  width: 32rem;
  margin: 10px 25px;
  padding-top: 27px;
  padding-left: 25px;
}

#numerical-temperature {
  font-size: 50px;
}
#vertical-line,
#celsius,
#farenheit {
  font-size: 18px;
  vertical-align: super;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: top;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: bottom;
}

.weather-temperature #fahrenheit-link {
  text-decoration: none;
}
.weather-temperature #celsius-link {
  text-decoration: none;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#city {
  font-size: 35px;
  padding: 0;
}
.activity-link {
  height: 72px;
}
.outline {
  margin: 30px auto;
  display: block;
  width: 45rem;
  border-radius: 31px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.sunday,
.monday,
.tuesday,
.wednesday {
  margin-top: 15px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.saturday {
  margin-top: 10px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.github-link {
  margin-left: 332px;
  text-decoration: none;
}
