body {
  font-family: "Cabin", sans-serif;
  background-color: #ece1de;
}

.outline {
  margin: 30px auto;
  display: block;
  width: 46rem;
  border-radius: 31px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
}

#city-input {
  margin: 0 25px;
  display: block;
  height: 40px;
  width: 290px;
  border-radius: 13px;
  border-width: thin;
  border-color: lightgrey;
  padding: 10px;
  color: #3d3d3d;
}

#city-search-button,
#location-button {
  border-radius: 12px;
  padding: 5px 10px;
  color: white;
  border-width: thin;
  width: 120px;
}

.search-button {
  margin-right: 5px;
  padding-left: 0;
}

#city-search-button {
  background-color: #224477;
  border-color: #224477;
}

#location-button {
  background-color: #ec6e4c;
  border-color: #ec6e4c;
}

#location-button:hover {
  background-color: white;
  color: #ec6e4c;
}

#city-search-button:hover {
  background-color: white;
  color: #224477;
}

.current-temp {
  margin: 0 25px;
  border-radius: 24px;
  padding-top: 27px;
  padding-left: 25px;
  color: #838383;
  width: 18rem;
  height: 22rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#city {
  font-size: 35px;
  padding: 0;
  color: #3d3d3d;
}

#numerical-temperature {
  font-size: 50px;
  color: #3d3d3d;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: top;
}

.weather-temperature .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: bottom;
  color: #3d3d3d;
}

#weather-forecast {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  width: 16rem;
  border-radius: 24px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 25px;
  text-align: center;
  color: #3d3d3d;
}

#forecast-low,
#degree-symbol {
  color: #838383;
}

#underline {
  color: #dcdcdc;
  font-weight: lighter;
}

#footer {
  color: #3d3d3d;
  text-align: center;
}

.github-link {
  text-decoration: none;
}
