#city-search {
  margin: 0 25px;
  display: block;
  height: 40px;
  width: 290px;
  border-radius: 13px;
  border-width: thin;
  border-top-style: solid;
  border-left-style: solid;
  border-color: lightgrey;
  padding: 10px;
}
#city-input {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border-width: thin;
}
#location-button {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: green;
  color: white;
  border-width: thin;
}
.card {
  border-radius: 15px;
}
.current-temp {
  border-radius: 24px;
  height: 351px;
  width: 18rem;
  margin: 10px 25px;
  padding-top: 27px;
  padding-left: 25px;
}

#numerical-temperature {
  font-size: 50px;
}
#vertical-line {
  font-size: 18px;
  vertical-align: super;
}
#celsius {
  font-size: 18px;
  vertical-align: super;
}
#farenheit {
  font-size: 18px;
  vertical-align: super;
}
#city {
  font-size: 35px;
  padding: 0;
}
.activity-link {
  height: 72px;
}
.outline {
  margin: 30px auto;
  display: block;
  width: 45rem;
  border-radius: 31px;
}
.saturday {
  margin-top: 10px;
  width: 300px;
}
.sunday {
  margin-top: 15px;
  width: 300px;
}
.monday {
  margin-top: 15px;
  width: 300px;
}
.tuesday {
  margin-top: 15px;
  width: 300px;
}
.wednesday {
  margin-top: 15px;
  width: 300px;
}
.github-link {
  margin-left: 332px;
}
